@charset "UTF-8";
p{
	font-family: '210 와글와글';
	font-size: 50px;
	color : black;
	text-decoration: overline;
	padding: 35px 75px 0px 75px;
	margin: 0;
}

table{
	padding: 35px 75px 0px 75px;
	text-align: right;
	margin:auto;
}

td{
	font-family: 'DX시인과나';
	font-size: 25px;
}

td img{
	width: 450px;
	height: auto;
}

td img.dream{
	width: 300px;
	height: auto;
}

table.dream{
	text-align: center;
}